@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070f3;
  --secondary: #efefefaa;
  --accent: #131313;
 
}

@media (prefers-reduced-motion: no-preference) {
canvas {
  display: hidden;
}
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
    --accent: #e2e8f0;
    --secondary: #1c1c1e;

  }
}



body {
  background: var(--background);
  color: var(--foreground);
}
