@import "tailwindcss";

.animFade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    scale: 0.97;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;

  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070f3;
  --secondary: #efefefaa;
  --accent: #131313;
  --blur: 7px;
 
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
    --accent: #e2e8f0;
    --secondary: #1c1c1e;
    --blur: 7px;

  }
}



body {
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --blur: 7px;
    /*--blur: 0.5rem;*/
  }
  #obj3D {
    display: block;
  }
  body {
    --background: red;
  }
}