@import "tailwindcss";

.animBg {
  animation: fadeBackground 2s ease-in-out 0s infinite;
}

.animFade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    scale: 0.97;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;

  }
}

@keyframes fadeBackground {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070f3;
  --secondary: #efefefaa;
  --accent: #131313;
    --blur: 0px;
    /*--blur: 0.3rem; */
    /*--blur: 0.5rem;*/

 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
    --accent: #e2e8f0;
    --secondary: #1c1c1e;


  }
}



body {
  background-color: var(--background);
  color: var(--foreground);
}

body::before {
  content: ''; /* Obligatorio para pseudo-elementos */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/end_sky.png');
  opacity: 0.04; 
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  :root {

  }
  #obj3D {
    display: none;
  }
  body {
    
  }
}


/* Aplica esta clase a tu contenedor scrollable
   Ej: <div class="contenedor-scroll-personalizado">...</div>
*/
.contenedor-scroll-personalizado {
    overflow-y: scroll;
    /* Para Firefox: hazla más delgada */
    scrollbar-width: thin; 
    /* Para Firefox: define el color del pulgar y el fondo */
    scrollbar-color: var(--secondary) transparent; 
}

/* ---------------------------------------------------- */
/* Reglas específicas de WebKit (Chrome, Safari, Edge)  */
/* ---------------------------------------------------- */

/* El ancho de toda la barra de desplazamiento */
.contenedor-scroll-personalizado::-webkit-scrollbar {
    width: 5px; /* Hazla más delgada */
}

/* El "track" o fondo de la barra */
.contenedor-scroll-personalizado::-webkit-scrollbar-track {
    background: transparent; /* Fondo muy claro o transparente */
    border-radius: 10px;
}

/* El "thumb" o pulgar (la parte que se mueve) */
.contenedor-scroll-personalizado::-webkit-scrollbar-thumb {
    background: var(--secondary); /* Un gris sutil */
    border-radius: 10px;
}

/* El pulgar al pasar el ratón */
.contenedor-scroll-personalizado::-webkit-scrollbar-thumb:hover {
   opacity: 0.5; /* Un poco más oscuro al interactuar */
}