@import "tailwindcss";

.animBg {
  animation: fadeBackground 2s ease-in-out 0s infinite;
}

.animFade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    scale: 0.97;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;

  }
}

@keyframes fadeBackground {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070f3;
  --secondary: #efefefaa;
  --accent: #131313;
    /*--blur: 0px;*/
    --blur: 0.3rem; 
    /*--blur: 0.5rem;*/

 
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
    --accent: #e2e8f0;
    --secondary: #1c1c1e;


  }
}



body {
  background-color: var(--background);
  color: var(--foreground);
}

body::before {
  content: ''; /* Obligatorio para pseudo-elementos */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/end_sky.png');
  opacity: 0.04; 
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  :root {

  }
  #obj3D {
    display: block;
  }
  body {
    
  }
}